body{
    font-family: Verdana;
    font-size: 2em;
    cursor: url('smeagol.png') 0 0,auto;
}
#submitBtn
{
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: url('smeagol.png') 0 0,auto;
}
#submitBtn:hover img {
    content: url('smeagolhover.png');
    width: 100px;
    height: 100px;
}
.btn-img{
    width: 100px;
    height: 100px;
    background-color: transparent;
}
d
