/* Write your code here: */
h1, h2 {
  color: blueviolet;
}
.box > p {
  color: firebrick; font-weight: bold;
}
ul li{
  color: blue;font-weight: bold;
}
li.done{
  color:seagreen;font-weight: bold;
}
ul p.done{
  font-size: 0.5rem;
}